<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <%= render "posts/comments", post: post %>
    <%= render "comments/new", post: post %>
  <% end %>
</div>
<%= turbo_frame_tag "new_post", src: new_post_path, target:"_top"  do %>
  <%= link_to "New post", new_post_path %>
<% end %>

<%= Time.now %>
